@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(202deg, rgba(254,253,253,1) 33%, rgba(250,249,245,1) 100%); 
}

#Font_Manrope{
    font-family: 'Manrope', sans-serif;
}

#headerMenu{
    font-family: 'Work Sans', sans-serif;
}

main{
    margin: 2.5vh 2vw;
    animation: transitionOnLoad 1s;
}

.scaleIn{
    animation: transitionOnLoad 0.5s;
}

@keyframes transitionOnLoad {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}